#MainNav {
  .main_nav_right{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
  }
  .main_nav_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
    background-color: #f1f1f1;
    overflow: auto;
    li a {
      float: left;
      padding: 15px;
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    li a.active {
      background-color: #4caf50;
      color: white;
    }
    li a:hover:not(.active) {
      background-color: #555;
      color: white;
    }
  }

  @media screen and (max-width: 400px) {
    .main_nav_list li a {
      text-align: center;
      float: none;
      padding: 0;
    }
  }
}
